<!DOCTYPE html>
<html lang="en" vocab="http://schema.org/" typeof="WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="AuctionHub admin page">
    <meta name="keywords" content="HTML, CSS, JavaScript, admin, AuctionHub">
    <meta name="author" content="Tomescu Mircea-Andrei">
    <meta name="author" content="Burcă Flavian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title property="name">Admin</title>
    <link rel="stylesheet" href="/styles/admin.css" type="text/css">
    <link rel="stylesheet" href="/styles/nav.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/base.css" type="text/css">
</head>

<body vocab="http://schema.org/" typeof="WebPage">
<header typeof="WPHeader">
    <div id="header">
        <div id="header__img">
            <a href="/"><img src="/images/new_logo_white.svg" alt="Fepa logo" property="logo"></a>
        </div>

        <button id="header__menu-button" onclick="toggleDropdown()">
            Menu
        </button>

        <nav id="header__nav-bar">
            <ul id="nav-bar__menu">
                <li><a class="menu__link" href="/" property="url">Home</a></li>
                <li><a class="menu__link" href="auction-ma.html" property="url">Auction</a></li>
                <li><a class="menu__link" href="auctions.html" property="url">Auctions</a></li>
                <li><a class="menu__link" href="help.html" property="url">Help</a></li>
                <li><a id="verify-user" class="menu__link menu__link--login" href="login.html" property="url">Login</a>
                </li>
                <li><a id="admin-permission" href="admin.html" property="url">Admin dashboard</a></li>
            </ul>
        </nav>
    </div>
</header>

<main typeof="WebPageElement">
    <div id="container">
        <h1>Admin Dashboard</h1>

        <section typeof="Table">
            <h2>Current Users</h2>
            <table>
                <div id="all-users">
                </div>
            </table>
        </section>

        <section typeof="ItemList">
            <h2>List of auctions by ID</h2>
            <ul>
                <div id="all-auctions">
                </div>
            </ul>
        </section>
    </div>
</main>

<footer id="footer" typeof="WPFooter">
    <h3>© 2024 AuctionHub.com</h3>
    <p>All rights reserved.</p>
</footer>

<script src="/scripts/admin-management.js"></script>
<script src="/scripts/logout-condition.js"></script>
<script src="/scripts/nav.js"></script>
<script src="/scripts/verify-active-user.js"></script>

</body>

</html>